/*titulo e texto central*/
h1 {
    width: 80%;
    margin: auto;
}

p {
    width: 80%;
    margin: auto;

    font-weight: 600;
    font-size: 1em;
}

/*area do contato*/
#areacontato {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    padding: 5px;
}

#contato {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 10px;
    border-radius: 10px;

    box-shadow: 0 0 10px #444444;
}

#contato:hover {
    background-color: #dfdfdf;
}

#contato img {
    width: 64px;
    border-radius: 50%;
}

#dados {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


/*fontes para os titulos e textos*/
.titulo {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.texto {
    font-family: 'Cardo', serif;
}

/*area das divisoes*/
.area {
    width: 80%;
    margin: 25px auto 0 auto;

    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 20px black;
    border-radius: 25px;

    overflow: visible;

    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: #000000;

    margin: 10px 0;
}

.imagem {
    width: 250px;
}

.imagem2 {
    width: 100%;
    max-height: 250px;
}

.final {
    margin-bottom: 15px;
}