* {
    max-width: 1080px;
    box-sizing: border-box;

    margin: auto;
}
/*titulo e texto central*/
h1 {
    width: 80%;
    margin: 45px auto;
}

p {
    width: 80%;
    margin: 25px auto;

    font-weight: 600;
    font-size: 1em;
}

/*fontes para os titulos e textos*/
.titulo {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.texto {
    font-family: 'Cardo', serif;
}

/*area das divisoes*/
.area {
    width: 80%;
    margin: 25px auto 0 auto;

    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 3px black;
    border-radius: 25px;

    overflow: visible;

    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: #000000;

    margin: 10px 0;
}

.imagem {
    width: 250px;
}

.imagem2 {
    width: 100%;
    max-height: 250px;
}

.final {
    margin-bottom: 15px;
}


#final {
    margin-bottom: 50px;
}