/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

/*configuração container1*/
#container1 {
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-color: #edfbfe;

    margin-bottom: 100px;
}

#subcontainer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding: 50px;
}

#subcontainer1 a {
    background-color: #ffffff;
    padding: 15px 60px;
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 15px #8d8d8d;
            box-shadow: 2px 2px 15px #8d8d8d;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
}


#subcontainer2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;

    padding: 50px;
}

#subcontainer3 {
    width: 45%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 25px;
}

#subcontainer3 a {
    margin: 0;

    padding: 15px 60px;
    background-color: #fe52c0;
    text-decoration: none;
    color: #ffffff;
    border-radius: 50px;
}

#subcontainer4 {
    width: auto;
}

#subcontainer4 img {
    width: 100%;
}


/*outros containers*/
#container2, #container3, #container4 {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto 50px auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;

    padding: 50px;

    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #ebebeb;
            box-shadow: 0 0 10px #ebebeb;
}

#container2 div {
    width: 45%;
}

#container2 img {
    width: 55%;
}

#container2 div h2 {
    margin-bottom: 25px;
}

#container3 div {
    width: 45%;
}

#container3 img {
    width: 55%;
}

#container3 div h2 {
    margin-bottom: 25px;
}

#container4 div {
    width: 45%;
}

#container4 img {
    width: 55%;
}

#container4 div h2 {
    margin-bottom: 25px;
}


#container5-pai {
    padding: 75px 25px;

    background-image: url(./images/fundo.png);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: left bottom -2px;
}

#container5 {
    width: 60%;
    margin: auto;
    background-color: #ffffff;

    padding: 50px;

    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #ebebeb;
            box-shadow: 0 0 10px #ebebeb;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
}

#container5 a {
    margin: 0;
    padding: 15px 60px;
    background-color: #fe52c0;
    text-decoration: none;
    color: #ffffff;
    border-radius: 50px;
}


/*ultimos containers*/
#container6, #container7 {
    background-image: url(./images/fundo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#container6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;

    padding: 0 75px 75px 75px;
    color: #ffffff;
}

/*ajeitar os subcontainers 9, 10, 11 e 12*/
#subcontainer8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 15px;
}

#subcontainer8 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    gap: 40px;
}


#subcontainer9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
}

#subcontainer10, #subcontainer11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 25px;

    width: 100px;
}


#container7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding: 25px 75px 75px 75px;
    color: #ffffff;
}


/*editar as imagens do twitter, instagram e facebook e terminar de colocar os icones 
e terminar a parte mobile*/
#subcontainer12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
}

#subcontainer12 img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    border: auto;
    
    width: 25px;
}

#huddleperdido {
    background-color: #00252e;
    padding: 75px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*mobile*/
@media screen and (max-width: 800px){
    #subcontainer1 {
        padding: 5px;
    }
    #subcontainer2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }

    #subcontainer3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #container2, #container4 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }

    #container3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }

    #container5-pai {
        padding: 25px;
    }

    #container5 {
        width: 90%;
    }

    #container6 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }

    #subcontainer8, #subcontainer9 {
        margin-bottom: 50px;
    }

    #subcontainer9 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    #subcontainer12 {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #container7 {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    /*muda a largura dos itens*/
    #subcontainer3, #subcontainer4, #container2 div, #container2 img, #container3 div,
    #container3 img, #container4 div, #container4 img {
        width: 100%;
    }

    #container2, #container3, #container4 {
        width: 90%;
    }

}